:root{
  --heading-font: "Oswald", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

*,
*::before,
*::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color:  #212529;
}

body {
  color: #f5f5f5;
}

header {
	display: flex;
	flex-wrap: wrap;
	padding: 1rem;
}

h1,
h2,
h3 {
  font-family: var(--heading-font);
}

*:not(h1):not(h2):not(h3):not(nav a) {
  font-family: var(--body-font);
}

header nav {
	margin-left: auto;
}

nav {
  display: flex;
  align-items: center;
}

nav ul {
	display: flex;
  flex-wrap: wrap;
	gap: 2rem;
  align-items: center;
}

nav ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: var(--heading-font);
}

/* a:visited{
  color: inherit;
} */

main{
	padding: 2rem 1rem;
	max-width: 90%;
	margin: 0 auto;
}

header, footer{
  background-color: gray;
	text-align: center;	
	line-height: 1.5;
}

/* .flex-child > * {
  border: 5px solid black;
} */

.hero-title {
  font-size: clamp(2.475rem, 6.3vw, 5.25rem);
  text-align: center;
}

.hero-text {
  font-size: clamp(1rem, 1.5vw, 1.25rem);
  padding: 1.25rem 0;
  text-wrap: balance;
  text-align: center;
}

.hero-img {
  height: auto;
  width: 100%;
  display: block;
  margin: 0 auto;
  padding: 1rem 0;
}

.small-topper {
  text-align: center;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}

button {
  all: unset;
}

path {
  stroke: #fff;
}

.join-us {
  background-color: black;
  border-radius: 8px;
  border-width: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 1rem 1.2rem;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.services-content{
  padding: 1rem 0;
}

.services-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}





@media screen and (width <= 769px) {
  nav ul li:nth-child(2),
  nav ul li:nth-child(3),
  nav ul li:nth-child(5) {
    display: none;
}

  .hero-img {
    display: inline-block;
    margin: 0 auto;
    object-fit: contain;
  }

  .small-topper {
    font-size: .65rem;
    letter-spacing: .75rem;
  }

  .services-grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}


/* work in iphone 14 pro max view and finish working on the image */